.Navbar {
    background-color: lightsteelblue;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 5px silver;
}

.Toolbar {
    display: flex;
    min-height: 56px;
    align-items: center;
    padding: 0px 10px;
}

.logo {
    margin-right: 10px;
    max-width: 100%;
    height: auto;
}

.Title {
    flex-grow: 1;
}